<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <div> <%= title%></div>
   <%
        if(employees.length==0){
   %>
   <h1>no data found!!</h1>
   <%}
   else{
    for(i of employees){%>
        <div><%=i['name'] %> <%=i['phno'] %></div>
        <%}}%>
   <a href="/employee/add"><button>add employee</button></a>   
   <a href="/employee/delete"><button>del employee</button></a>  
</body>
</html>